h2 {
	color: black
}

h3 {
	color: blue
}

h4 {
	color: green
}

h5 {
	color: 333333;
	font-weight: bold;
}
thead {
	background-color: #660000;	
}
th {
	border: 1px solid black;
	text-align: center;
	color: white;
}
table tr td {
	border: 1px solid black;
}

/*  Define the background color for all the ODD table columns  */
tbody tr:nth-child(odd) { 
	background: white;
}
/*  Define the background color for all the EVEN table columns  */
tbody tr:nth-child(even){
	background: #F0F0F0;
}

pre {
	background-color: #f5f5f5;
	white-space: pre; 
	overflow: auto;
	width:inherit;
	max-height: 500px;
}

li {
	margin: 0 0 1em;
}

.copy-button {
	position: absolute;
	margin-left: 634px;
	margin: 1px 1px 10px 0;
	padding: 20px;
	background-image: url(https://cloud.githubusercontent.com/assets/11231867/7610657/31c2f058-f99c-11e4-8154-82251850ce0c.png);
	background-repeat: no-repeat;
	background-position: 2px -429px;
	width: 20px;
	height: 22px;
	border: 0;
	background-color: #34302d
}

.copy-button.snippet {
	float: right
}

@media ( max-width :1075px) {
	.copy-button {
		display: none
	}
}
