h2 {
	color: black
}

h3 {
	color: blue
}

h4 {
	color: green
}

h5 {
	color: 333333;
	font-weight: bold;
}
thead {
	background-color: #660000;	
}
th {
	border: 1px solid black;
	text-align: center;
	color: white;
}
table tr td {
	border: 1px solid black;
}

/*  Define the background color for all the ODD table columns  */
tbody tr:nth-child(odd) { 
	background: white;
}
/*  Define the background color for all the EVEN table columns  */
tbody tr:nth-child(even){
	background: #F0F0F0;
}

pre {
	background-color: white;
	white-space: pre; 
	overflow: auto;
	width:inherit;
	max-height: 500px;
}
